h2{
    margin-top: 50px;
    margin-bottom: -2px;
}

.container{
    font-size: 20px;
}

.info{ 
    width: 30%;
    height: auto;
    float: left;
    margin-right: 30px;
}

a[href="./about.html"]{
    color: var(--purple)
}

.text-about{
    font-weight: bold;
    font-size: 17px;
}
