h1{
    color: #d05270;
    font-size: 40px;
}
h2{
    color: #5a47ab;
}
h3{
    color: #5a47ab;
}
* {
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: var(--pink);
    font-family: 'Abril Fatface', cursive;
}