a[href="./blog.html"]{
    color: var(--purple)
}

.imageprinc {
    width: 100%;
    height: auto;
}

h1{
    font-size: 30px;
}

h3{
    color: var(--purple)
}

h1, h2, h3{
    margin-top: 50px;
    margin-bottom: 35px;
}

.corps{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
