:root{
    --pink: #d05270;
    --purple: #5a47ab;
    --grey: #7b7b7b;
    --dark_gray: #424242;
    --blue_twitter: #47acdf;
    --blue_linkedin: #1275b1;
    --black: #000000;
}

a[href="./blog.html"]{
    color: var(--purple)
}

main{
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;

}

.imageprinc {
    width: 100%;
    height: auto;
}

h1{
    font-size: 30px;
    color: var(--pink);
}

h2, h3{
    color: var(--purple)
}

h1, h2, h3{
    margin-top: 50px;
    margin-bottom: 35px;
}

h4{
    margin-top: 55px;
    margin-bottom: 0px;
    font-size: 25px;
    color: var(--pink);
}

footer{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* display: grid;
    grid-template-areas: "a b c d"; */
}



.res-btn{
    color:white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.twi-btn{
    background-color: var(--blue_twitter);
    width: 33%;
}

.lin-btn{
    background-color: var(--blue_linkedin);
    width: 33%;
}

.med-btn{
    background-color: var(--black);
    width: 33%;
}


.btn-res-global{
    display: flex;
    justify-content: space-between;
}



article{
    margin-top: 50px;
    margin-left: 50px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.part1_foot{
    margin-top: 50px;
    margin-left: 50px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.footer_image{
    width: 400px;
    height: 100%;
}
