
:root{
    --pink: #d05270;
    --purple: #5a47ab;
    --grey: #7b7b7b;
    --dark_gray: #424242;
    --blue_twitter: #47acdf;
    --blue_linkedin: #1275b1;
    --black: #000000;
}

a[href="./blog.html"]{
    color: var(--purple)
}

.imageprinc {
    width: 100%;
    height: auto;
}

h1{
    font-size: 30px;
    color: var(--pink);
}

h2, h3{
    color: var(--purple)
}

h1, h2, h3{
    margin-top: 50px;
    margin-bottom: 35px;
}

footer{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* display: grid;
    grid-template-areas: "a b c d"; */
}

.corps{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
