:root{
    --pink: #d05270;
    --purple: #5a47ab;
    --grey: #7b7b7b;
    --blue_twitter: #47acdf;
    --blue_linkedin: #1275b1;
}

body{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--grey);
}

a:hover{
    color: var(--purple);
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: var(--pink);
    font-family: 'Abril Fatface', cursive;
}
