:root{
    --pink: #d05270;
    --pink-darker: #742f3f;
    --pink-opacity: #d0526f30;
    --purple: #5a47ab;
    --purple-opacity: #5947ab1c;
    --grey: #7b7b7b;
    --lightgrey:#afafaf;
    --dark_gray: #424242;
    --blue_twitter: #47acdf;
    --blue_linkedin: #1275b1;
    --black: #000000;
    --white: #ffffff;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: var(--pink);
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}

h2{
    color: var(--purple);
}

h4{
    margin-top: 55px;
    margin-bottom: 0px;
    font-size: 25px;
    color: var(--pink);
}

body{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}

nav{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--grey);
}

a:hover{
    color: var(--purple);
}

/* Début En-tête */


.homepage-title, .homepage-subtitle{
    font-size: 50px;
}

.homepage-subtitle{
    color: var(--dark_gray);
}

.mainpage-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* display: grid;
    grid-template-areas: "a b c d"; */
}

.main-img{
    /* grid-area: c / span 2 / span 2; */
    width: 400px;
    height: 100%;
}

.homepage-main{
    /* grid-area: a / span 2 / span 2; */
    margin-top: 30px;
    max-width: 50%;
}

.res-btn{
    color:white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 40px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.twi-btn{
    background-color: var(--blue_twitter);
    width: 33%;
}

.lin-btn{
    background-color: var(--blue_linkedin);
    width: 33%;
}

.med-btn{
    background-color: var(--black);
    width: 33%;
}

.icon-btn{
    margin-right: 10px;
}

.btn-res-global{
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
}

.twi-btn:hover{
    background-color: #337799;
    color: white
}

.lin-btn:hover{
    background-color: rgb(26, 61, 78);
    color: white
}

.med-btn:hover{
    background-color: #4e4e4e;
    color: white
}
footer{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* display: grid;
    grid-template-areas: "a b c d"; */
}

/* Fin En-tête */