:root{
    --pink: #d05270;
    --purple: #5a47ab;
    --grey: #7b7b7b;
    --dark_gray: #424242;
    --blue_twitter: #47acdf;
    --blue_linkedin: #1275b1;
    --black: #000000;
}

/* Début Articles */


.article-one{
    max-width: 49%;
    min-width: 49%;
    margin-bottom: 50px;
    margin-left: -5px;
}

.article-one img{
    width: 100%;
}

.article-all{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.art-date{
    font-weight: bold;
    color: var(--dark_gray);
}

.art-title{
    color: var(--pink);
    font-size: x-large;
}

.art-desc{
    color: var(--dark_gray)
}

.art-show{
    color: var(--pink);
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.art-show:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 1px;
    bottom: 0;
    border-bottom: 1px solid var(--pink);
}

.art-show:hover{
    color: #742f3f;
}

/* Fin Articles */
