:root{
    --pink: #d05270;
    --purple: #5a47ab;
    --grey: #7b7b7b;
    --dark_gray: #424242;
    --blue_twitter: #47acdf;
    --blue_linkedin: #1275b1;
    --black: #000000;
}

h1, h2{
    font-size: 50px;
}

h2{
    color: var(--dark_gray);
}


main{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* display: grid;
    grid-template-areas: "a b c d"; */
}

.main-img{
    /* grid-area: c / span 2 / span 2; */
    width: 400px;
    height: 100%;
}

.homepage-main{
    /* grid-area: a / span 2 / span 2; */
    margin-top: 30px;
    max-width: 50%;
}

.res-btn{
    color:white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 40px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.twi-btn{
    background-color: var(--blue_twitter);
    width: 33%;
}

.lin-btn{
    background-color: var(--blue_linkedin);
    width: 33%;
}

.med-btn{
    background-color: var(--black);
    width: 33%;
}

a i{
    margin-right: 15px;
}

.btn-res-global{
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
}

.twi-btn:hover{
    background-color: #337799;
    color: white
}

.lin-btn:hover{
    background-color: rgb(26, 61, 78);
    color: white
}

.med-btn:hover{
    background-color: #4e4e4e;
    color: white
}



/* Articles */



.article-one{
    max-width: 49%;
    min-width: 49%;
    margin-bottom: 50px;
    margin-left: -5px;
}

.article-one img{
    width: 100%;
}

.article-all{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.art-date{
    font-weight: bold;
    color: var(--dark_gray);
}

.art-title{
    color: var(--pink);
    font-size: x-large;
}

.art-desc{
    color: var(--dark_gray)
}

.art-show{
    color: var(--pink);
    display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.art-show:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 1px;
    bottom: 0;
    border-bottom: 1px solid var(--pink);
}

.art-show:hover{
    color: #742f3f;
}